<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Store.Properties.Settings.MEGABYTConnectionString"
            connectionString="Data Source=DESKTOP-0E3AC9U\SQLEXPRESS;Initial Catalog=MEGABYT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>